
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 222 47% 11%;
    --foreground: 210 40% 98%;

    --card: 222 47% 11%;
    --card-foreground: 210 40% 98%;

    --popover: 222 47% 11%;
    --popover-foreground: 210 40% 98%;

    --primary: 210 40% 98%;
    --primary-foreground: 222 47% 11%;

    --secondary: 217 33% 17%;
    --secondary-foreground: 210 40% 98%;

    --muted: 217 33% 17%;
    --muted-foreground: 215 20% 65%;

    --accent: 175 84% 63%;
    --accent-foreground: 222 47% 11%;

    --destructive: 0 63% 31%;
    --destructive-foreground: 210 40% 98%;

    --border: 217 33% 17%;
    --input: 217 33% 17%;
    --ring: 224 76% 48%;

    --radius: 0.5rem;

    --sidebar-background: 222 50% 10%;
    --sidebar-foreground: 210 40% 98%;
    --sidebar-primary: 227 96% 65%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 223 47% 14%;
    --sidebar-accent-foreground: 210 40% 98%;
    --sidebar-border: 223 47% 14%;
    --sidebar-ring: 217 92% 60%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}

@layer utilities {
  .scrollbar-hidden {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  
  .scrollbar-hidden::-webkit-scrollbar {
    display: none;
  }
  
  .glass-card {
    @apply bg-secondary/70 backdrop-blur border border-white/10 shadow-lg;
  }
}
